<div class="addons-wrap d-flex flex-column overflow-y-auto">
    <div class="status d-flex flex-justify-between p-2">
        <div class="title p-1">
            <i class="fa fa-book"></i> {{ site.title }}
        </div>
        <div class="branch p-1">
            <span class="name">
                profiles
            </span>
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
    <div class="addons d-flex flex-column height-full p-2 d-none">
        <dl>
            <dt>{{ __.github | default: "GitHub" }}</dt>
            <dd>
                <a href="https://eq19.com/" title="Homepage">
                    <i class="fa fa-home"></i>
                    {{ __.homepage | default: "Homepage" }}
                </a>
            </dd>
            <dd>
                <a href="https://github.com/{{ site.repository }}" title="Repository" target="_blank">
                    <i class="fa fa-github"></i>
                    {{ __.issues | default: "Repository" }}
                </a>
            </dd>
            <dd>
                <a href="https://gist.github.com/eq19" title="Gist" target="_blank">
                    <i class="fa fa-download"></i>
                    {{ __.download | default: "Gist" }}
                </a>
            </dd>
        </dl>
        <hr>
        <div class="license f6 pb-2">
            Code 
            <a href="http://validator.w3.org/check/referer" title="{{ site.title }}">Source</a>
            is under the terms of
            <a href="https://www.eq19.com/identition/span12/#disclaimer">{{ docs.license.name | default: "The Disclaimer" }}</a>.
        </div>
    </div>
</div>
